<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Filtered Members List</title>
  <link rel="stylesheet" href="ergebnissFilterStyles.css" />
</head>
<body>

<nav class="navbar">
  <div class="container">
    <h1 class="logo">Filmclub</h1>
    <ul class="nav-links">
      <li><a href="/index.html">Startseite</a></li>
      <li><a href="http://localhost:9090/filterMembers.html">Filter</a></li>
      <li><a href="http://localhost:9090/showMember">Liste aller Mitglieder</a></li>

    </ul>
  </div>
</nav>





<h1 class="titel">Ergebnis der suche:</h1>
<table>
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Address</th>
    <th>City</th>
    <th>Title</th>
    <th>Phone</th>
    <th>Entry Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="member : ${members}">
    <td th:text="${member.firstName}"></td>
    <td th:text="${member.lastName}"></td>
    <td th:text="${member.address}"></td>
    <td th:text="${member.city}"></td>
    <td th:text="${member.title}"></td>
    <td th:text="${member.phone}"></td>
    <td th:text="${member.entryDate}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
