<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mitglieder anzeigen</title>
    <link rel="stylesheet" type="text/css" href="showMemberStyles.css">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <h1 class="logo">Filmclub</h1>
        <ul class="nav-links">
            <li><a href="/index.html">Startseite</a></li>
            <li><a href="/filter.html">Filter</a></li>
            <li><a href="http://localhost:9090/showMember">Liste aller Mitglieder</a></li>

        </ul>
    </div>
</nav>
<h1>Liste der Mitglieder</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Adresse</th>
        <th>Stadt</th>
        <th>Titel</th>
        <th>Telefon</th>
        <th>Eintrittsdatum</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <td th:text="${member.memberId}"></td>
        <td th:text="${member.firstName}"></td>
        <td th:text="${member.lastName}"></td>
        <td th:text="${member.address}"></td>
        <td th:text="${member.city}"></td>
        <td th:text="${member.title}"></td>
        <td th:text="${member.phone}"></td>
        <td th:text="${member.entryDate}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
