<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neues Mitglied hinzufügen</title>
    <link rel="stylesheet" type="text/css" href="/css/addMemberStyles.css">
</head>
<body>
<nav class="navbar">
    <div class="container">
        <h1 class="logo">Filmclub</h1>
        <ul class="nav-links">
            <li><a href="/">Startseite</a></li>
            <li><a href="/filterMembers">Filter</a></li>
            <li><a href="/showMember">Liste aller Mitglieder</a></li>
            <li><a href="/addMember">Mitglied hinzufügen</a></li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="center-container">
    <h1 class="titel">Neues Mitglied hinzufügen</h1>
    <form th:action="@{/addMember}" th:object="${newMember}" method="post">

        <label for="firstName">Vorname:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required><br><br>

        <label for="lastName">Nachname: </label>
        <input type="text" id="lastName" th:field="*{lastName}" required><br><br>

        <label for="address">Adresse:</label>
        <input type="text" id="address" th:field="*{address}" required><br><br>

        <label for="city">Stadt:</label>
        <input type="text" id="city" th:field="*{city}" required><br><br>

        <label for="title">Titel:</label>
        <input type="text" id="title" th:field="*{title}"><br><br>

        <label for="phone">Telefonnummer:</label>
        <input type="text" id="phone" name="phone" pattern="^\d{10}$" required><br><br>

        <label for="entryDate">Eintrittsdatum:</label>
        <input type="date" id="entryDate" th:field="*{entryDate}" required><br><br>

        <input type="submit" value="Mitglied hinzufügen">
    </form>
</div>
<script>
    function validatePhoneNumber() {
        var phoneInput = document.getElementById('phone');
        if (phoneInput.value.length !== 10) {
            alert('Die Telefonnummer muss genau 10 Zeichen lang sein.');
            return false;
        }
        return true;
    }
</script>
</body>
</html>
