<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Filtered Members</title>
  <link rel="stylesheet" href="/css/ergebnissFilterStyles.css">
</head>
<body>
<nav class="navbar">
  <div class="container">
    <h1 class="logo"><a href="/">Filmclub</a></h1>
    <ul class="nav-links">
      <li><a href="/filterMembers">Filter</a></li>
      <li><a href="/showMember">Liste aller Mitglieder</a></li>
      <li><a href="/addMember">Mitglied hinzufügen</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h2 class="titel">Filtered Members</h2>

  <table>
    <thead>
    <tr>
      <th>Member ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Title</th>
      <th>Phone</th>
      <th>Entry Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
      <td th:text="${member.memberId}"></td>
      <td th:text="${member.firstName}"></td>
      <td th:text="${member.lastName}"></td>
      <td th:text="${member.address}"></td>
      <td th:text="${member.city}"></td>
      <td th:text="${member.title}"></td>
      <td th:text="${member.phone}"></td>
      <td th:text="${#temporals.format(member.entryDate, 'dd.MM.yyyy')}"></td>
      <td>
        <a th:href="@{/deleteMember/{id}(id=${member.memberId})}"onclick="return confirm('Sind Sie sicher, dass Sie dieses Mitglied löschen möchten?')">
          🗑️
        </a>
      </td>
    </tr>
    </tbody>
  </table>

</div>

</body>
</html>
