<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Ergebnisliste</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Filmliste</h1>
    <ul id="filmList">

      <!-- Filmtitel -->
      <li>
        <a href="">Filmname</a>
        <a href="" class="details-button">Mehr Details</a>
      </li>
      <li>
        <a href="">Filmname</a>
        <a href="" class="details-button">Mehr Details</a>
      </li>
      <li>
        <a href="">Filmname</a>
        <a href="" class="details-button">Mehr Details</a>
      </li>

    </ul>
  </body>
</html>
